/* index.css */
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.MuiTableRow-head {
  background-color: #003366 !important;
  color: red !important;
}
